.newpage {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;

  .right {
    width: 79vw;

    .form {
      .preview {
        div {
          ul {
            display: flex;
            flex-wrap: nowrap !important;
            overflow-x: auto;
            gap: 20px;

            li {
              max-height: 500px;
              max-width: 250px;
              min-width: 200px;
              background-color: white;
              text-align: center;

              video {
                height: 100% !important;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
}
