.nav {
    width: 21vw;
    background-color: #fff;

    nav {
        margin-top: 30px !important;

        ul {
            li {
                a {
                    border-bottom: solid 1px rgb(226, 226, 226);
                    padding-bottom: 10px !important;
                    display: flex;
                    align-items: center;
                    font-size: 1.1rem;
                    gap: 10px;
                    transition: 200ms all;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}